@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  background-color: white;
  padding: .5rem;
  border-radius: 10px;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
  
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* ============= NavLink active End here ================ */
/* Add this to your CSS or CSS module */
.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Adjust the max-width if needed */
}

.dark {
  --bg-color: black;
  --text-color: white;
}

.light {
  --bg-color: white;
  --text-color: black;
}


.App {
  background-color: var(--bg-color);
  color: var(--text-color);
}
